target
workspace.xml
.idea
*/hooks/**
*/info/**
*/target/**
*.log
*.class
*.iml
*/head/*
*/objects/*
*/info/*
*/${test.tmp.dir}/**
*/packs/*
.idea/**
.idea/workspace.xml
.settings/*
tmp
/.classpath
/.project
dependency-reduced-pom.xml